
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <title>Super Manager</title>
</head>

<header>
  <nav>
    <div class="logo">
      <img src="https://cdn.dribbble.com/users/47927/screenshots/15483272/media/50c1f3f84284b3d1ac736c9cc44b5fe1.jpg?compress=1&resize=400x300&vertical=top">
    </div>
    <div class="items">
      <a href="#" class="active">Home</a>
      <a href="#">Serviço</a>
      <a href="#">Sobre</a>
      <a href="#">Contato</a>
      <a href="#">Blog</a>
    </div>

    <div class="other">
      <button>Log in</button>
    </div>
  </nav>
</header>

<!-- Hero Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="info">
        <p class="short-info">#Aproveite 14 dias de teste</p>
        <h2 class="hero-heading">Gerencie todos os seus projetos em um único lugar</h2>
        <p class="hero-sub-heading">Organize e gerencie seus projetos de forma eficiente e conveniente. em um painel de controle que exibe todos os projetos atuais e em andamento, juntamente com informações importantes, como prazos, status e prioridade. Crie pastas, tags, marcadores ou categorias para agrupar seus projetos de acordo com diferentes critérios, facilitando a localização e o acesso aos projetos relevantes.</p>
        <div class="users">
          <img src="https://www.bainbridgedecaturga.com/wp-content/uploads/2019/05/generic-person-icon-1.png" class="img-fluid user">
          <img src="https://www.seekpng.com/png/detail/402-4022635_avatar-generic-person-icon.png" class="img-fluid user">
          <img src="https://media.gettyimages.com/id/1307686388/photo/woman-character-illustration-portrait.jpg?s=612x612&w=gi&k=20&c=sNU0PpcqH5AT7nVXt85gsNDlyRHgBGx0qF1a6xcdQ6Q=" class="img-fluid user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaFZ8XaqVH96T3SfY7wAfMRL0AtaR25UyS7A&usqp=CAU" class="img-fluid user">
          <p> 4M+ users </p>
        </div>
        <button class="learn-more">
          Saiba mais</button>
      </div>
      <div class="hero-image">
        <img src="https://img.freepik.com/vetores-gratis/design-realista-de-moldura-de-prata_23-2149236258.jpg?w=1060&t=st=1679953490~exp=1679954090~hmac=6c09110a254bea47c145ca5903cce326b787e038521865f1bbe00fc3583b8c8f" class="img-fluid">
      </div>
    </div>
  </div>
</section>